@import './variables';

@keyframes sp-anim-popup {
  0% {
    transform: translate3D(0, 100%, 0);
  }
  100% {
    opacity: 1;
    transform: translate3D(0, 0, 0);
  }
}


@keyframes sp-anim-fadeup {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

@keyframes sp-anim-fadedown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes sp-anim-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

