$color-brand-primary: #BF1A20;
$color-brand-light: #f46161;
$color-brand-dark: #de1616;
$color-link: #000000;
$color-primary-text: #1e1e1e;
$color--text: rgba(#1e1e1e, .2);

$color-title: #333;
$color-content: #676767;
$color-subcolor: #a4a3a3;
$color-disabled: #e9e7e7;
$color-border: #dedede;
$color-divider: #e8e5e5;
$color-background: #f2f2f2;
$edge-size: 40px;
$tabs-height: 80px;
$primary-back-page: #F9FAFE;